.dart_tool/
build/
*.iml
.gradle/
.local.properties
.DS_Store
android/key.properties
android/app/release/
ios/
web/
.memo-cache
.pub-cache/
.pub/
*.a
*.apk
*.framework
*.xcodeproj/
*.xcworkspace/
.idea/
.vscode/
*.swp
*.swo
*~
.flutter-plugins-dependencies
.metadata
